body {
  background: #19912b;
  box-sizing: border-box;
}
.card {
  text-align: center;
  background: white;
  margin: auto;
  font-size: 70px;
  padding: 170px;
  height: 200px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  &:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px;
  }
  &:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 70px;
  }

  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}
